
header {
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.mouse {
    float: right;
    border-radius: 38%;
    height: 200px;
    margin-right: 200px;
}


header h1 {
    text-align: center;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    color:rgb(236, 90, 114);
    background-color: white;
    text-shadow: 2px 2px   #747170;
    width: 700px; 
    border-radius: 20px;
    height: 80px;
    font-size: 60px;
    padding: 40px;
}

.container {
    position: relative;
    float: left;
    background-color: palevioletred;
    padding: 50px;
    position: scroll;
    width: 600px;
    height: 100%;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;

    border-radius: 30px;

}

.container section {
    width: 500px; 
    padding-bottom: 100px;
    background-color: rgb(230, 143, 157);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px grey;
}

.container img {
    border-radius: 40px;
    height: 200px;
    width: 400px;
    padding: 20px;

}

body {  
  
    position: relative;
    background-attachment:fixed;
    background-color: #db93b0ff;
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
   
}

/* styles for the scroll bar  */

.scroll {
    border: none;
    padding: 5px;
    font: 20px/27px sans-serif;
    width: 670px;
    height: 100%;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 20px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(172, 22, 99);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(53, 50, 205);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;
}

/* .opacity { 
    opacity: 0.6;
} */
/* --amaranth-pink: #db93b0ff;
--carmine: #970011ff;
--candy-apple-red: #fd2813ff;
--barn-red: #770303ff;
--dutch-white: #fcecc9ff; */

.choices {
    padding: 20px;
    margin: 3px;
    display: inline-block;

    padding: 0;
    width: 85px;
    height: 60px;
    line-height: 60px;

    font-size: 12px;
    font-weight: lighter !important;
    color: #fff !important;
    text-align: center;

    vertical-align: baseline;
    background-color: #d73d33;
    border-radius: 20px;
    position: relative;
    
}

.choices:hover {        
    background-color: orange;
}

section {
    width: 100%;
}

/* the styles for the side bar pantry header */
.pantry {
    
    position: sticky;
    width: 670px;
    border-radius: 40px;
    background-image: url("../images/pantry.jpg");
    background-size: cover;
    height: 305px;
    background-repeat: no-repeat;
}
.pantry h1 { 
    text-shadow: 2px 2px #747170;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px 10px;
    

    color: rgb(208, 62, 62);
}

.pantryScroll { 
    top: 220px; 
    right: 100px;
    position: fixed;
    float: right; 
    width: 670px;
    border-radius: 40px;
    background-image: url("../images/pantry.jpg");
    background-size: cover;
    height: 305px;
    background-repeat: no-repeat;
}

.pantryScroll h1 { 
    text-shadow: 2px 2px #747170;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px 10px;
    

    color: rgb(208, 62, 62);
}

.line { 
    height: 1px;
    width: 100%; 
    background-color: grey;
    margin-bottom: 40px; 
}
.buttonClicked { 
    border: 4px solid green ; 
}

#cart { 
    position: sticky;
    padding-top: 40px;
    
    text-align: center;
    font-family: 'Lobster', cursive;
    line-height:1.5;
    color:rgb(236, 90, 114);

    border-radius: 20px;
    width: 570px;
    font-size: 50px;
    height: 160px; 
    text-shadow: 2px 2px   #434040;
}

section h1 { 
    color:rgb(208, 62, 62);
    text-shadow: 5px 2px #434040;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    background-color: ;
}

button { 
    font-family: 'Lobster', cursive;
    color:rgb(208, 62, 62);
    text-shadow: 1px 1px #434040;
    font-size: 25px;

}

#resetBtn { 
    margin: 50px auto; 
    width:120px; 
    border-radius: 20px;
    height: 40px;
    background-color: orange;
}

#resetBtn:hover { 
    width:200px; 
    border-radius: 20px;
    height: 70px;
    background-color:#E68F9D;
    color: orange;

}

.allOptions { 
    background-color: orange;
    width:150px;
    margin-top:50px;
    border-radius: 20px;
    height: 50px;
}
.allOptions:hover { 
    background-color:#DB7093;
    color: rgb(255, 131, 243);
}

#submit { 
    margin: 50px auto; 
    width:120px; 
    border-radius: 20px;
    height: 40px;
    background-color: green;  
    
}
#submit:hover { 
    width:200px; 
    border-radius: 20px;
    height: 70px;
   
}

.recipes { 
    margin-top: 4500px;
    position: absolute ;
    
    right: 120px;
    top: 228px;
    width:600px;
    border-radius: 40px;
    background-color: white;
    height: auto;
   
}

.scroll2 { 
    position: absolute ;
    right: 200px;
    top: 228px;
    width:400px;
    border-radius: 40px;
}
.choices:hover { 
    color: black
}